In [24]:
import numpy as np
import pandas as pd
from PIL import Image
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [8]:
df_can = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                   sheet_name='Canada by Citizenship',
                   skiprows = range(20), 
                   skipfooter = 2)
print("Data imported and succesfully framed.")

Data imported and succesfully framed.

In [10]:
df_can.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [9]:
#finding out the number of data rows
print(df_can.shape)

(195, 43)

In [12]:
#clean up the unnecessary data columns for consistency
df_can.drop(['AREA','Coverage','REG','DEV','Type'],axis=1, inplace =True)

In [15]:
#rename some of the columns for reliability
df_can.rename(columns={'OdName':'Country','AreaName':'Continent','RegName':'Region'},inplace=True)

In [17]:
#set all the columns to string
df_can.columns = list(map(str,df_can.columns))

In [18]:
#indexing Country in the first so that it is easy to access
df_can.set_index('Country',inplace = True)

In [21]:
#creating the total columns
df_can['Total'] = df_can.sum(axis=1)

In [23]:
#converting the years into string
years = list(map(str,range(1980,2014)))
print("Data dimensions:", df_can.shape)

Data dimensions: (195, 38)

In [26]:
#lets take a look at the new Dataframe of Denmark, sweden and norway
df_dsn = df_can.loc[['Denmark','Sweden','Norway'],:]
df_dsn

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Denmark,Europe,Northern Europe,Developed regions,272,293,299,106,93,73,93,...,62,101,97,108,81,92,93,94,81,3901
Sweden,Europe,Northern Europe,Developed regions,281,308,222,176,128,158,187,...,205,139,193,165,167,159,134,140,140,5866
Norway,Europe,Northern Europe,Developed regions,116,77,106,51,31,54,56,...,57,53,73,66,75,46,49,53,59,2327

In [ ]:
#compute the proportions for which they are divided
total_values = sum(df_dsn['Total'])
category_proportions = [float(value)/total_values for value in df_dsn['Total']]

#print out the proportions
for i,proportions in enumerate(category_proportions):
    print(df_dsn.index.value[0]+" : "+ str(proportions))